/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}

/* HEADER */
.header{
    height: 60px;
    background: #3b5794;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 3%;
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* LOGO */
.logo{
    font-size: 28px;
    font-weight: 700;
    color: #00d4ff;
}

/* NAV */
nav ul{
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s;
}

nav ul li a:hover{
    color: #00d4ff;
}

/* ICON */
#themeBtn{
    color: white;
    font-size: 20px;
    cursor: pointer;
}

/* MENU BTN */
.menu-btn{
    display: none;
    font-size: 28px;
    color: white;
    cursor: pointer;
}

/* HERO */
.hero{
  height: 750px;
  background: url("../assets/apnaph.png.png") center/cover no-repeat;
  display: flex;
  align-items: center;
  padding-left: 70px;
}

.content{
  width: 350px;
}



/* BUTTONS */
.buttons{
  margin-top: 10px;
  display: flex;
  gap: 10px;
}



.btn{
  padding: 10px 15px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.primary{
  background: blue;
  color: white;
}

.outline{
  border: 2px solid blue;
  background: transparent;
  color: blue;
}

/* SOCIAL */
.social{
  margin-top: 20px;
  display: flex;
  gap: 30px;
 height: 50px;
 color: #00d4ff
}

.icon{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #afd2f1;
}

.icon i{
    color:rgb(25, 4, 186);
    text-decoration: none;
}


/* FOOTER */
.footer {
  background: #0f1627;
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* ========================= */
/* 🔥 FIXED RESPONSIVE MENU */
/* ========================= */

@media (max-width: 600px){

    .menu-btn{
        display: block;
    }

    nav{
        position: absolute;
        top: 60px;
        right: 0;
        width: 200px;
        background: #678ad6;
        display: none;
        flex-direction: column;
        padding: 10px;
    }

    nav ul{
        flex-direction: column;
        gap: 13px;
    }

    /* FIX: THIS IS IMPORTANT */
    nav.active{
        display: flex;
    }
}