* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  scroll-behavior: smooth;
}

/* Header */
.header {
  position: fixed;
  width: 100%;
  top: 0;
  background: #111;
  color: rgb(74, 24, 174);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}

.logo {
  font-size: 20px;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

.menu-btn {
  display: none;
  font-size: 25px;
  cursor: pointer;
}

/* Sections */
.section {
  padding: 100px 20px;
  min-height: 100vh;
  text-align: center;
}





/* Skills */
.box {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.box span {
  background: #eee;
  padding: 10px;
  border-radius: 5px;
}






/* Footer */
.footer {
  background: #0f1627; /* dark navy */
  color: #fff;
  text-align: center;
  padding: 20px;
}

.footer p {
  margin: 0;
  font-size: 16px;
  line-height: 1.8;
}

.footer i {
  color: #00f2fe;
  margin-right: 5px;
}

/* Responsive */
@media(max-width:768px) {
  nav ul {
    position: absolute;
    top: 60px;
    right: 0;
    background: #111;
    flex-direction: column;
    width: 200px;
    display: none;
  }

  nav ul.show {
    display: flex;
  }

  .menu-btn {
    display: block;
  }
}